.task-wrapper:hover {
    background-color: #E0FFFF;
}

.edit:hover {
    background-image: url("../pics/edit_b.png");
}

.delete:hover {
    background-image: url("../pics/delete_b.png");
}

.add-new-task:hover {
    background-image: url("../pics/add_b.png");
}

.task:hover, .delete:hover, .edit:hover, .add-new-task:hover {
    cursor: pointer;
}

.task-short-content:focus, .task-content:focus {
    border: 3px solid black;
}

#confirm-task-changes:hover, #exit:hover {
    font-weight: 700;
}

#confirm-task-changes:hover {
    margin-right: 144px;
}

.dropdown-content p:hover {
    background-color: #E0FFFF;
}
