.buttons {
    display: flex;
    margin: auto;
}

.edit {
    background-image: url("../pics/edit_w.png");
    background-size: 30px auto;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    margin: auto;
}

.delete {
    background-image: url("../pics/delete_w.png");
    background-size: 30px auto;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    margin: auto;
}

.status-pic {
    background-image: url("../pics/new.png");
    background-size: 30px auto;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    margin: auto;
}
