@import url("./pics.css");
@import url('./global.css');
@import url('./effects.css');
@import url('./fonts.css');
@import url('./modalWindow.css');
@import url('./dropdown_status.css');

.widget {
    display: flex;
    flex-direction: column;
    width: 800px;
    border: 1px solid black;
    padding: 20px;
}

.task-wrapper {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
}

.task-wrapper {
    width: 100%;
    margin-bottom: 10px;
}

.task {
    display: flex;
    width: 65%;
    padding: 10px;
    border-right: 1px solid black;
}

.shortDescr {
    width: 100%;
    word-wrap: break-word;
}

.date {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-right: 1px solid black;
}
